audio {
    margin-top: 20px;
}

#logo{
    width: 50%;
    height: 50%;
    margin: 20px auto;
}

.title {
    margin: 20px 0;
    padding: 50px;
    text-align: center;
}

.item {
    margin: 10px 0
}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#form-keluhan {
    margin-top: 50px;
}


form label, form button {
    margin: 20px 0
}
